 
/* Navbar.css */
.NavbarItems {
    background: linear-gradient(90deg, rgb(35,35,35) 0%, rgba(35,35,35));
    width: 100vw;  
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px; 
    height: 110px; 
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 1000; 
    font-family: 'Laila', sans-serif;
    font-weight: 300; 
}

.navbar-logo img {
    width: 120px;   /* Adjust the width as needed */
    height: auto;  /* Keep the aspect ratio intact */
    display: flex;
   
}

.menu-icon {
    font-size: 24px;
    color: white;
    cursor: pointer;
    display: none;
    margin-right: 40px;
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 20px;
    flex: 1; 
    justify-content: center; 
}

.nav-menu li {
    padding: 5px 10px; 
    margin-right: 0; 
}

.nav-menu a {
    text-decoration: none;
    color: white;
    font-size: 24px;
}

.nav-menu a:hover {
    color: #f39c12;
}

.nav-menu.active {
    display: block;
}

@media screen and (max-width: 768px) {
    .NavbarItems {
        justify-content: space-between; 
    }

    .menu-icon {
        display: block;
    }

    .nav-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background-color: rgb(35, 35, 35);
        text-align: center;
    }

    .nav-menu.active {
        display: flex;
    }
}